* {
  box-sizing: border-box;
}

html {
}

body {
	background-color: #f3f3f3;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: MilliardBold;
	src: url(MilliardBold.otf);
}
@font-face {
	font-family: MilliardHairline;
  src: url(MilliardBold.otf);
  font-weight: bold;
}
@font-face {
	font-family: MilliardExtraLight;
  src: url(MilliardBold.otf);
  font-weight: bold;
}
@font-face {
	font-family: MilliardHairline;
	src: url(MilliardHairline.otf);
}
@font-face {
	font-family: MilliardLight;
	src: url(MilliardLight.otf);
}
@font-face {
	font-family: MilliardExtraLight;
	src: url(MilliardExtraLight.otf);
}

h1 {
  font-family: MilliardExtraLight;
  width: 545px;
  height: 372px;
  font-size: 135px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  color: #4e6e7d;
  margin: 0;
}

h2 {
	font-family: MilliardHairline;
  font-size: 62px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.97;
  letter-spacing: normal;
  color: #f3f3f3;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

header div {
  font-family: MilliardLight;
  background-color: #232323;
  align-items: center;
  display: flex;
}
header div img {
  margin-left: 45px;
  margin-right: 10px;

}

.header-1 {
  width: 578px;
  margin-bottom: 30px;
  margin-top: 112px;
}

.header-highlight {
  color: #c9ecff;
	font-family: MilliardHairline;
  font-size: 62px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  display: inline;
}

.header-link {
  color: #f3f3f3;
  height: 50px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  text-decoration: none;
  transition: all 100ms ease-out;
  cursor: pointer;
  user-select: none;
}
.header-link:hover {
  opacity: 0.5;
}
.header-link.blue {
  position: absolute;
  right: 0;
  color: #c9ecff;
  font-style: italic;
  justify-content: flex-end;
  word-wrap: normal;
  width: 200px;
  text-align: right;
  padding-right: 30px;
}
.header-link.blue-color-only {
  color: #c9ecff;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1255px) {
  .container {
    height: 3705px;
  }
}

.left-box {
  /* border: solid 1px red; */
  width: 50vw;
  max-width: 798px;
  min-width: 700px;
  height: 900px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-repeat: no-repeat;
  background-position: top right;
}
.span-header {
  width: 507px;
  height: 84px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 19px;
  line-height: 1.47;
  color: #7e7e7e;
}

.right-box {
  /* border: solid 1px red; */
  width: calc(50vw - 100px);
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1255px) {
  .left-box {
    opacity: 0.9;
  }
  .right-box {
    width: 100vw;
  }
}


@media (max-width: 1255px) {
  .bg-squares-1 {
    position: absolute;
  }
}
.bg-squares-1 {
  background-image: url("./L1_BLACK.png");
  color: #7e7e7e;
  padding-left: 3%;
}
.bg-squares-1 > * {
  opacity: 0;
  transition: all 0.2s ease-out;
}
.button {
	font-family: MilliardLight;
  font-size: 16.2px;
	padding: 10px 18px;
  letter-spacing: 1.1px;
	color: #f3f3f3;
  border: solid 1px #f3f3f3;
  transition: all;
  text-decoration: none;
  transition: all 100ms ease-out;
  display: flex;
  align-items: center;
}
.button:hover {
  opacity: 0.5;
}
.button.blue {
  color: #c9ecff;
  border: solid 1px #c9ecff;
  margin-left: 40px;
}
.blue:hover {
  opacity: 0.5;
}
@media (max-width: 1255px) {
  .bg-squares-2 {
    position: absolute;
    top: 900px;
  }
}
.bg-squares-2 {
  background-image: url("./L2_BLUE.png");
  padding-left: 3%;
  padding-top: 90px;
}
.bg-squares-2 > * {
  opacity: 0;
  transition: all 0.2s ease-out;
}
.bg-squares-2 .span-header {
  color: #4e6e7d;
}

.three-texts {
  align-items: flex-start;
}
@media (max-width: 1255px) {
  .three-texts {
    display: none;
  }
}
.three-texts > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.three-texts > div > div {
  width: 192px;
  font-size: 14px;
  line-height: 1.21;
  color: #6f97aa;
  font-family: 'Noto Sans', sans-serif;
}
.three-texts > div > div > h3 {
  font-family: MilliardBold;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.08;
  margin-bottom: 8px;
}

.box1-3, .box2-3, .box3-3 {
  transition: all 0.3s ease-out;
  opacity: 0;
  margin: 0 10px;
}

.box3-3 {
}

@media (max-width: 1255px) {
  .bg-squares-3 {
    position: absolute;
    top: 1800px;
  }
}
.bg-squares-3 {
  background-image: url("./L3_BLACK.png");
  padding-left: 3%;
}
.bg-squares-3 > * {
  opacity: 0;
  transition: all 0.2s ease-out;
}
.six-texts > div > div > div {
  opacity: 0;
  transition: all 0.2s ease-out;
}
.bg-squares-3 h2{
  margin-top: 200px;
  margin-bottom: 30px;
}

.six-texts {
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 1255px) {
  .six-texts {
    display: none;
  }
}
.six-texts > div {
  margin-top: 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.six-texts > div > div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.six-texts > div > div > div {
  margin: 0 60px;
  min-width: 100px;
  max-width: 100px;
  font-size: 14px;
  line-height: 1.21;
  color: #6f97aa;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}
.six-texts > div > div > div > h3 {
  font-family: MilliardBold;
  font-weight: bold;
  line-height: 1.08;
  margin-top: 7px;
  margin-bottom: 2px;
}
.six-texts > div > div > div > span {
  font-style: italic;
  opacity: 0.7;
}
.six-texts > div > div > div > img {
  opacity: 0;
}
.dashes {
  background-color: #8dabba40;
  font-size: 5px;
  color: transparent;
}

@media (max-width: 1255px) {
  .bg-squares-4 {
    position: absolute;
    top: 2700px;
  }
}
.bg-squares-4 {
  background-image: url("./L4_WHITE.png");
  height: 1005px;
  padding: 60px;
}
.bg-squares-4 h2 {
  color: #85acbc;
  margin: 0;
  margin-left: 36px;
}
.bg-squares-4 .header-highlight {
  color: #2c2c2c;
}

.pipefy-form {
	width: 83%;
  height: 1000px;
  margin-top: 10px;
}

.pp-new-public-form-embedded {
  padding: 0;
}

.fancyE {
  width: 30px;
  opacity: 0.5;
  font-family: MilliardLight;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.27;
  letter-spacing: normal;
  text-align: center;
  color: #90b7cb;
  margin-left: 25px;
  margin-right: 25px;
}

.investors {
  margin-top: 80px;
  height: 58px;
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  line-height: 25px;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 20px;
  color: #b9b9b9;
}

.info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55px;
}

.info > span {
  font-size: 13px;
}

.info img {
  margin-right: 5px;
}

.media {
  position: absolute;
  right: 0;
  font-family: MilliardLight;
  font-size: 16px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95px;
}

.media > a > img {
  margin-left: 10px;
  margin-right: 10px;
}

.media > a {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #b9b9b9;
}

.ilustra {
  position: fixed;
  transition: all 0.4s ease-out;
  transform: translate(0, -70px);
  z-index: -1;
}

.tower {
  position: fixed;
  z-index: -1;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: -2;
}