* {
  box-sizing: border-box;
}

body {
	background-color: #f3f3f3;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: MilliardBold;
	src: url(MilliardBold.otf);
}
@font-face {
	font-family: MilliardHairline;
  src: url(MilliardBold.otf);
  font-weight: bold;
}
@font-face {
	font-family: MilliardHairline;
	src: url(MilliardHairline.otf);
}
@font-face {
	font-family: MilliardLight;
	src: url(MilliardLight.otf);
}
@font-face {
	font-family: Gizmo;
	src: url(Gizmo.ttf);
}

h1 {
  font-family: MilliardHairline;
  width: 545px;
  height: 372px;
  font-size: 135px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  color: #4e6e7d;
  margin: 0;
}

h2 {
	font-family: MilliardHairline;
  font-size: 62px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.97;
  letter-spacing: normal;
  color: #f3f3f3;
}

.header-1 {
  width: 578px;
}

.header-highlight {
  color: #c9ecff;
	font-family: MilliardHairline;
  font-size: 62px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  display: inline;
}

header {
  display: flex;
  font-family: MilliardLight;
	background-color: #232323;
}

.header-link {
  color: #f3f3f3;
  height: 50px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  text-decoration: none;
  transition: all 100ms ease-out;
}
.header-link:hover {
  background-color: #f3f3f3;
	color: #232323;
}
.header-link.blue {
  position: absolute;
  right: 0;
  margin-right: 20px;
  display: fixed;
  color: #c9ecff;
  font-style: italic;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.left-box {
  /* border: solid 1px red; */
	width: 798px;
  height: 900px;
  display: flex;
  flex-direction: column;
  padding: 70px;
}
.span-header {
  width: 507px;
  height: 84px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 19px;
  line-height: 1.47;
  color: #7e7e7e;
}

.right-box {
  /* border: solid 1px red; */
	width: calc(100% - 798px);
  height: 900px;
}

.bg-squares-1 {
  background-image: url("./L1_BLACK.png");
  color: #7e7e7e;
}
.button {
	font-family: MilliardLight;
  font-size: 16.2px;
	padding: 18px;
  letter-spacing: 1.1px;
	color: #f3f3f3;
  border: solid 1px #f3f3f3;
  transition: all;
  text-decoration: none;
  transition: all 100ms ease-out;
}
.button:hover {
  background-color: #f3f3f3;
  color: #2c2c2c;
}
.button.blue {
  color: #c9ecff;
  border: solid 1px #c9ecff;
  margin-left: 150px;
}
.blue:hover {
  background-color: #c9ecff;
  color: #2c2c2c;
}
.bg-squares-2 {
  background-image: url("./L2_BLUE.png");
}
.bg-squares-2 .span-header {
  color: #4e6e7d;
}

.bg-squares-3 {
  background-image: url("./L3_BLACK.png");
}
.bg-squares-4 {
  background-image: url("./L4_WHITE.png");
  height: 1060px;
}
.bg-squares-4 h2 {
  color: #85acbc;
  margin: 0;
  margin-left: 36px;
}
.bg-squares-4 .header-highlight {
  color: #2c2c2c;
}

.pipefy-form {
	width: 83%;
  height: 1000px;
  margin-top: 10px;
}

.pp-new-public-form-embedded {
  padding: 0;
}